
/* Estilos globales  */
:root{
    /* colores  */
    --color-black: #12242B;
    --color-white: #ffff;
    --color-primary: #A758AE;
    --color-secondary: #786EC1;
    --color-text: #2E313A;
    --color-text-secondary: #828282;

    /* textos  */
    --text-sm: 12px;
}

/* general  */
*{
    font-family: 'Poppins', sans-serif;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::selection {
    background: var(--color-primary);
    color: var(--color-white);
}

*::-moz-selection {
    background: var(--color-primary);
    color: var(--color-white);
}



/* colores  */
.color-black{
    background-color: var(--color-black);
}

.color-black-fondo{
    background-color: var(--color-black);
    color:  var(--color-white);
}

.color-white{
    color: var(--color-white);
}

.color-white-fondo{
    background-color: var(--color-white);
}


.color-primary{
    color: var(--color-primary);
}

.color-primary-fondo{
    background-color: var(--color-primary);
    color: var(--color-white);
}


.color-secondary{
    color: var(--color-secondary);
}

.color-text{
    color: var(--color-text);
}

.color-text-secondary{
    color: var(--color-text-secondary);
}



/* textos  */
.text-sm{
    font-size: var(--text-sm);
}

.title-primary{
    font-weight: bold;
}

.title-secondary{
    font-weight: 200;
}

 
 
/* social networks  */
.social-media{
    color: var(--color-primary);
    margin-left: 10px;
    font-size: 25px;
}

.social-media:hover{
    color: var(--color-white);
}



/* enlaces a  */
a{
    text-decoration: none;
    color: var(--color-white);
}

a:hover{
    color: var(--color-primary);
}



/* botones  */
.button-primary-outline{
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

.button-primary-outline:hover{
    color: var(--color-white);
    background-color: var(--color-primary);
}

.button-primary-normal{
    color: var(--color-white);
    background-color: var(--color-primary);
}

.button-primary-normal:hover{
    color: var(--color-white);
    background-color: var(--color-secondary);
}



/* secciones  */
.seccion{
    padding: 100px 20px 0 20px;
    margin: 20px 0 20px 0;
}


/* etiquetas  */
.etiquetas{
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;
}