.imagen-forma-footer{
    position: absolute;
    top: 35%;
    left: 0;
    width: 12%;
    opacity: .5;
}

.footer{
    padding: 70px;
}

.footer .particles-footer{
    width: 100%;
    height: 100px;
}


/* enlaces a  */
a{
    text-decoration: none;
    color: var(--color-white);
}

a:hover{
    color: var(--color-primary);
}
